@import "../partials/colors";

//NAVBAR

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem 0.5rem;
  @include nav;
  z-index: 2;

  &--link {
    // text-decoration: none;
  }

  &--header {
    &__name {
      color: $headers;
      position: relative;
    }

    &__title {
      color: $secundary-text;
      letter-spacing: 0.25em;
    }
  }

  &--btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &__menu {
      color: $headers;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

//SOCIAL ICONS

.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1;

  &--scroll {
    background: $btn-bg;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      width: 20px;
      fill: red;
    }
  }

  &--img {
    margin-top: 0.2rem;
    width: 30px;
    height: 30px;
  }
}

//HOME IMAGE

.image {
  z-index: -1;
  margin-top: 5rem;
  position: relative;
  height: 20rem;
  object-fit: contain;
  background: url(../assets/images/fernando-hernandez-JdoofvUDUwc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(45% 0, 100% 0, 100% 28%, 58% 100%, 0 100%, 0 70%);

  &::before,
  &::after {
    position: absolute;
    content: "";
    background: #dbdbdb33;
    backdrop-filter: blur(0.3rem);
    width: 100%;
  }

  &::before {
    top: 0;
    height: 6.5rem;
  }

  &::after {
    bottom: 0;
    height: 6rem;
  }
}

//HOME DESCRIPTION

.description {
  margin: 1rem 0.5rem 0 0.5rem;
  font-size: 1.1rem;

  &--text {
    margin-bottom: 1.5rem;
    color: $secundary-text;
    // font-weight: bold;
  }

  &--name {
    color: $secundary-text;
    letter-spacing: 0.2em;
  }

  &--position {
    margin-bottom: 1rem;
    color: $headers;
  }

  &--actions {
    display: flex;
    margin-bottom: 1rem;
    color: $secundary-text;

    &__view,
    &__link {
      color: $headers;
      font-weight: bold;
    }
    &__view {
      margin-right: 0.4em;
    }
    &__link {
      margin-left: 0.4em;
    }
  }

  &--btn {
    color: $headers;
    border: none;
    border-radius: 0.4em;
    background: #e8e8e899;
    padding: 1em 1.5em;
    font-weight: bold;
    font-size: 1rem;
    transition: ease all 1s;

    &:hover,
    &:focus {
      background: $btn-hover;
      color: white;
    }
  }
}

//PROJECTS

.projects {
  margin: 4rem 0.5rem 1rem 0.5rem;

  &--header {
    margin-bottom: 1rem;

    &__text {
      font-size: 1.5rem;
      letter-spacing: 0.2em;
      color: $headers;
    }
  }

  &--descr {
    &__text {
      padding: 1rem;
      background: chocolate;
      height: 25rem;
      font-size: 1.1rem;

      p,
      h3 {
        color: $main-bg;
      }

      p {
        margin-bottom: 0.5rem;
        letter-spacing: 0.1em;
      }

      h3 {
        font-size: 1.3em;
      }
    }
  }
}

//FOOTER WORK SECTION

.work {
  margin: 1rem 0.5rem 1rem 0.5rem;

  &--hr {
    &:first-of-type {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    &:last-of-type {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    border: 1px solid $secundary-text;
  }

  &--text__action {
    display: flex;
    align-items: center;
    margin-top: 0.5em;

    &:hover:first-of-type img {
      margin-left: 3rem;
    }

    h3 {
      color: $headers;
      font-size: 1.5rem;
    }

    img {
      width: 2rem;
      margin-left: 1rem;
      transition: 2s ease all;

      &:hover,
      &:focus {
      }
    }
  }
}

//FOOTER INFORMATION SECTION

.information {
  margin: 0 0.5rem 2rem 0.5rem;

  &--ctn {
    margin: 2rem 0;

    &__header {
      color: $headers;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
    }

    &__details {
      margin: 0.5rem 0;
      font-size: 1.1rem;

      span {
        margin-left: 0.5em;
        color: $headers;
      }
    }
  }

  &--follow {
    font-size: 1.1rem;

    &__header,
    a {
      color: $headers;
    }

    p {
      margin-top: 0.5em;
    }

    a:first-of-type {
      margin-right: 0.5em;
    }

    a:last-of-type {
      margin-left: 0.5em;
    }
  }
}
