@import "../partials/colors";
@import "../partials/shapes";
@import "../partials/mixins";

//NAVBAR
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem 0.5rem;
  @include nav;
  z-index: 2;

  @media (min-width: 511px) {
    & {
      padding: 1rem 2rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      padding: 1rem 11.25rem;
    }
  }

  &--header {
    &__name {
      color: $headers;
      position: relative;
    }

    &__title {
      color: $secundary-text;
      letter-spacing: 0.25em;
    }
  }

  &--btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &__menu {
      letter-spacing: 0.2em;
      color: $headers;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

//MODAL

.modal {
  background: $headers;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nav {
    background: none;

    &--header {
      &__name,
      &__title {
        color: white;
      }
    }

    &--btn {
      &__menu {
        color: white;
      }
    }
  }

  &--menu,
  &--pages {
    margin: 0.2em 0;
  }

  &--menu {
    letter-spacing: 0.2em;
    font-size: 1.2em;
  }

  &--pages {
    font-size: 2em;

    &:hover,
    &:focus {
      color: $main-bg;
    }
  }

  &::after {
    z-index: -1;
    background: $secundary-shape;
    @include shape;
  }

  .active {
    color: $main-bg;
  }
}

//SOCIAL ICONS

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1;

  &--scroll {
    cursor: pointer;
    background: $btn-bg;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
    animation: pulse 2s ease-in-out infinite reverse;

    @media (min-width: 511px) {
      & {
        width: 35px;
        height: 35px;
      }
    }

    @keyframes pulse {
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover,
    &:focus {
      animation: none;
      background: $btn-hover;
    }

    &__img {
      width: 20px;

      &:hover,
      &:focus {
        filter: brightness(0) invert(1);
      }
    }
  }

  &--img {
    margin-top: 0.2rem;
  }
}

//HOME IMAGE

.image {
  z-index: -1;
  margin-top: 5rem;
  position: relative;
  height: 20rem;
  object-fit: contain;
  background: url(../assets/images/fernando-hernandez-JdoofvUDUwc-unsplash.jpg);
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
    background: #dbdbdb33;
    backdrop-filter: blur(0.3rem);
    width: 100%;
  }

  &::before {
    top: 0;
    height: 6.5rem;

    @media (min-width: 511px) {
      & {
        height: 7rem;
      }
    }
    @media (min-width: 1200px) {
      & {
        height: 12.5rem;
      }
    }
  }

  &::after {
    bottom: 0;
    height: 6rem;

    @media (min-width: 511px) {
      & {
        height: 3rem;
      }
    }
  }
}

//HOME DESCRIPTION

.description {
  margin: 1rem 0.5rem 0 0.5rem;
  font-size: 1.1rem;

  @media (min-width: 511px) {
    & {
      margin: 1rem 2rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      margin: 5rem 11.25rem;
    }
  }
  &--text {
    margin-bottom: 1.5rem;
    color: $secundary-text;
  }

  &--name {
    color: $secundary-text;
    letter-spacing: 0.2em;
  }

  &--position {
    margin-bottom: 1rem;
    color: $headers;
  }

  &--actions {
    display: flex;
    margin-bottom: 1rem;
    color: $secundary-text;

    &__view,
    &__link {
      color: $headers;
      font-weight: bold;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    &__view {
      margin-right: 0.4em;
    }
    &__link {
      margin-left: 0.4em;
    }
  }

  &--btn {
    @include btn;
  }
}

//PROJECTS

.projects {
  margin: 4rem 0.5rem 1rem 0.5rem;
  position: relative;

  @media (min-width: 511px) {
    & {
      margin: 6rem 2rem;
    }
  }
  @media (min-width: 1200px) {
    & {
      margin: 5rem 11.25rem;
    }
  }

  &--header {
    margin-bottom: 1rem;

    &__text {
      font-size: 1.5rem;
      letter-spacing: 0.2em;
      color: $headers;

      h3 {
        color: black;
      }
    }
  }

  &--descr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__picOne {
      width: 20rem;
      height: 30rem;
      border-radius: 0.5rem;
      overflow: hidden;
      padding: 1rem;
      background: url(../assets/images/2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__picTwo {
      width: 20rem;
      height: 30rem;
      border-radius: 0.5rem;
      overflow: hidden;
      padding: 1rem;
      background: url(../assets/images/3.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: 511px) {
        & {
          margin-top: 2rem;
        }
      }
    }
  }
}

//FOOTER WORK SECTION

.work {
  margin: 1rem 0.5rem 1rem 0.5rem;

  @media (min-width: 511px) {
    & {
      margin: 1rem 2rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      margin: 1rem 11.25rem;
    }
  }

  &--hr {
    &:first-of-type {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    &:last-of-type {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    border: 1px solid $btn-bg;
  }

  &--text__action {
    display: flex;
    align-items: center;
    margin-top: 0.5em;

    &:hover:first-of-type img {
      margin-left: 3rem;
    }

    h3 {
      color: $headers;
      font-size: 1.5rem;
    }

    img {
      width: 2rem;
      margin-left: 1rem;
    }
  }
}

//FOOTER INFORMATION SECTION

.information {
  margin: 0 0.5rem 2rem 0.5rem;

  @media (min-width: 511px) {
    & {
      margin: 1rem 2rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      margin: 1rem 11.25rem;
    }
  }

  &--ctn {
    margin: 2rem 0;

    &__header {
      color: $headers;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
    }

    &__details {
      margin: 0.5rem 0;
      font-size: 1.1rem;

      span {
        margin-left: 0.5em;
        color: $headers;
      }
    }
  }

  &--follow {
    font-size: 1.1rem;

    &__header,
    a {
      color: $headers;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 0.5em;
    }

    a:first-of-type {
      margin-right: 0.5em;
    }

    a:last-of-type {
      margin-left: 0.5em;
    }
  }
}

//CONTACT MAP

.map {
  margin-top: 5rem;
}

.gmnoprint {
  display: none;
}

//CONTACT DESCRIPTION

.contactDesc {
  margin: 5rem 0.5rem 3rem 0.5rem;

  @media (min-width: 511px) {
    & {
      margin: 5rem 2rem;
    }
  }
  @media (min-width: 1200px) {
    & {
      margin: 1rem 11.25rem;
    }
  }

  &--header {
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    color: $headers;
  }

  &--message__span {
    a {
      color: $headers;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

//CONTACT FORM

.form {
  margin: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 511px) {
    & {
      margin: 4rem 2rem;
    }
  }
  @media (min-width: 1200px) {
    & {
      margin: 4rem 11.25rem;
    }
  }

  &--textfield {
    margin: 0.5rem;
  }
}

.form--ctn__btn {
  @include btn;
  margin-top: 1.52rem !important;
  padding-inline: 3rem;
}

//RESUME

.section {
  color: $headers;
  margin-bottom: 2rem;
}

//RESUME HERO

.hero {
  margin-top: 5rem;
  height: 20rem;
  background: url(../assets/images/markus-winkler-7iSEHWsxPLw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-width: 511px) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      background: #dbdbdb33;
      backdrop-filter: blur(0.3rem);
      width: 100%;
    }

    &::before {
      top: 0;
      width: 2rem;
      height: 20rem;

      @media (min-width: 1200px) {
        & {
          width: 11.25rem;
        }
      }
    }

    &::after {
      top: 0;
      right: 0;
      width: 2rem;
      height: 20rem;

      @media (min-width: 1200px) {
        & {
          width: 11.25rem;
        }
      }
    }
  }
}

//RESUME DESCRIPTION

.resumeDesc {
  margin: 3rem 0.5rem;

  @media (min-width: 511px) {
    & {
      margin: 3rem 2rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      margin: 5rem 11.25rem;
    }
  }
}

//RESUME EXPERIENCE

.experience {
  margin-inline: 0.5rem;

  @media (min-width: 511px) {
    & {
      margin-inline: 2rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      margin-inline: 11.25rem;
    }
  }

  &--ctn {
    margin-top: 2rem;

    &__title {
      font-size: 1.2rem;
      color: $headers;
    }

    &__time {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }

    &__list {
      margin-left: 1rem;
    }
  }
}
