@import "../partials/colors";

//NAVBAR

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem 1rem 1rem;
  //   background: chartreuse;

  &--btn {
    // background: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
