$main-bg: #ffffff;
$shape: #efefef5c;
$headers: #2f4858;
$secundary-text: #9a9a9a;
$btn-bg: #e8e8e899;
$btn-hover: #2f4858;
@mixin nav {
  background: rgba(255, 255, 255, 0.667);
  backdrop-filter: blur(0.5rem);
}
