@import "./partials/colors";
@import "./partials/fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: basic-sans, sans-serif;
  margin: 0;
  padding: 0;
  color: $secundary-text;
  transition: ease all 1s;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: $main-bg;
}

body::after {
  z-index: -2;
  position: fixed;
  content: "";
  height: 50%;
  width: 100%;
  background: $shape;
  bottom: 0;
  clip-path: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% 84%,
    95% 73%,
    84% 71%,
    68% 48%,
    54% 44%,
    51% 35%,
    36% 28%,
    25% 28%,
    20% 17%
  );
}

.link {
  text-decoration: none;
}
