@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/shapes";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: basic-sans, sans-serif;
  margin: 0;
  padding: 0;
  color: $secundary-text;
  transition: ease all 1s;
}

*:focus {
  outline: none !important;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: $main-bg;
}

body::after {
  z-index: -2;
  background: $shape;
  @include shape;
}

.link {
  text-decoration: none;
}

.gmnoprint {
  display: none;
}
